*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;
}

img{
    width: 100%;
}

.container{
    width: 70%;
    margin: auto;
    padding: 10px;
}

.audio{
    margin: 10px;
}

#about-us{
    background: #333;
    border-radius: 4px;
    color: #fff;
}

footer{
    margin: 10px 0 20px 0;
}

span{
    color: green;
    font-weight: bold;
}


/* Media Queries */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    #main-image{
        width: 490px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
  }